

body {
    background-color: salmon;   
    margin: 0;                  
    
}


button {
    padding: 10px 20px;         
    font-size: 16px;            
    border-radius: 6px;         
    display: block;   
    position: relative;
    top: 50px;
    left: 730px;     
}

.btn1 {
    color: white;               
    background-color: black;    
    border: 2px solid black;    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1); 
}


.btn2 {
    background-color: white; 
    color: black;            
    border: 2px solid black; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

